deneme

<div id="slider" class="nivoSlider">
    <%= link_to ( image_tag "nemo.jpg" , { :style => "width: 1180px; visibility: hidden; display: inline;"}), "http://shutl.it", { :style => "display: none;", :class => "nivo-imageLink"} %>
		<%= image_tag "toystory.jpg" , { :style => "width: 1180px; visibility: hidden; display: inline;"} %>
   	<%= image_tag "up.jpg" , { :style => "width: 1180px; visibility: hidden; display: inline;"} %>
		<%= image_tag "walle.jpg" , { :style => "width: 1180px; visibility: hidden; display: inline;"} %>
</div>

<div id="htmlcaption" class="nivo-html-caption">
    <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
</div>