@import url(http://fonts.googleapis.com/css?family=Lato:400,700);


@import 'font-awesome';
@import 'bootstrap';


/* disabled from here for the V2 version

body {
font-family: 'Lato', sans-serif;
line-height: 21.9px;	
}


.container {
	 max-width: 970px;
	
}

.navbar-right {
	font-weight: 700;
	text-transform: uppercase;
	float: left;
	letter-spacing: 1px;
}

.navbar-brand {
	font-weight: 900;
	font-size: 26px;
	float: left;
	letter-spacing: 1px;
}

.btn-huge {
	
	padding: 20px 27px 21px;
	font-size: 16px;
	line-height: normal;
	position: relative;
	right: -2px;
	border-color: #ab5c4c;
}

.btn-red {
	color: #fff;
	background: #c16a59;
	transition: background 0.2s;
	text-transform: uppercase;
	font-weight: bold;
}

.hero-unit {
padding: 75px 0 100px;
background: none;
margin-bottom: 0;
}

.hero-unit h1 {
font-size: 40px;
font-family: 'Lato', sans-serif;
margin-bottom: 20px;
margin-top: 15px;
color: #585858;
}

.hero-unit p {
font-size: 20px;
font-family: 'Lato', sans-serif;
color: #8c8c8c;
line-height: 30px;
margin-bottom: 20px;
}

.btn-huge i {
font-size: 1.4em;
margin-left: 23px;
vertical-align: text-top;
color: #e0b5ac;
-webkit-transition: color 0.2s;
-moz-transition: color 0.2s;
-o-transition: color 0.2s;
transition: color 0.2s;

}


disabled until here for the V2 version */


footer .container {
font-size: 12px;
background: #d6d6d6;
color: #616161;
margin-top: 20px;
line-height: 21.9px;
}

footer #footer_links {
padding: 15px;
}

footer #footer_links .links {
float: left;
width: 20%;
line-height: 100%;
}

footer #footer_links .links a {
color: #616161;
text-decoration: none;
}

footer #footer_links .links a:hover {
color: #616161;
text-decoration: underline;
}

footer #footer_links h3 {
font-family: 'Lato', sans-serif;
text-transform: uppercase;
font-size: 12px;
line-height: 15px;
font-weight: 700;
letter-spacing: 1px;
margin-top: 0px;
margin-bottom: 12px;
}

